import * as React from "react";

import classes from './{{ properCase name }}.module.css';
import type { {{ properCase name }}Props } from "./{{ properCase name }}.types";

const {{ properCase name }} = (props: {{ properCase name }}Props) => {
  return <div className={classes.root}>Hello World!</div>;
};

export default {{ properCase name }};